/*!*************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[14].oneOf[10].use[3]!./app/globals.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************/
:root {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgb(115, 184, 173);
  background-image: linear-gradient(180deg, rgb(151, 196, 47), rgb(62, 124, 165));

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

a {
  font-weight: 500;
  color: rgb(211, 218, 217);
  text-decoration: inherit;
}

a:hover {
  opacity: 0.8;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  margin: 1em 0.4em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(42, 104, 145);
  color: rgb(211, 218, 217);
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: linear-gradient(20deg, #6FF7F7, #3f89);
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

